checks.json
python/__pycache__/trees.cpython-310.pyc
.vscode/c_cpp_properties.json
.vscode/settings.json
C/cmake_install.cmake
C/CMakeCache.txt
C/CTestTestfile.cmake
dynarr_test
traversal_test
libtraversal.a
C/Makefile
cmake.check_cache
a.out
cmake_*
depend.make
*.o
*.d
progress.make
link.txt
flags.make
DependInfo.cmake
compiler_depends.ts
C/CMakeFiles/*
C/fib
C/CMakeScripts/ReRunCMake.make
C/Testing/Temporary/CTestCostData.txt
C/Testing/Temporary/LastTest.log
C/tree-traversal.build/Debug/traversal.build/Objects-normal/x86_64/dynarr.dia
C/tree-traversal.build/Debug/traversal.build/Objects-normal/x86_64/stack_traversal.dia
C/tree-traversal.build/Debug/traversal.build/Objects-normal/x86_64/stack.dia
C/tree-traversal.build/Debug/traversal.build/Objects-normal/x86_64/traversal_libtool_dependency_info.dat
C/tree-traversal.build/Debug/traversal.build/Objects-normal/x86_64/traversal.LinkFileList
C/tree-traversal.build/Debug/traversal.build/Objects-normal/x86_64/tree.dia
C/tree-traversal.build/Debug/traversal_test.build/traversal_test.xcent
C/tree-traversal.build/Debug/traversal_test.build/DerivedSources/Entitlements.plist
C/tree-traversal.build/Debug/traversal_test.build/Objects-normal/x86_64/traversal_test_dependency_info.dat
C/tree-traversal.build/Debug/traversal_test.build/Objects-normal/x86_64/traversal_test.dia
C/tree-traversal.build/Debug/traversal_test.build/Objects-normal/x86_64/traversal_test.LinkFileList
C/tree-traversal.build/Debug/ZERO_CHECK.build/Script-AB1062A1B11E1FF9F0456B71.sh
C/.vscode/settings.json
C/stack_test
C/Testing/Temporary/LastTest.log.tmp
C/Testing/Temporary/CTestCheckpoint.txt
C/threaded_test
