checks.json
python/__pycache__/trees.cpython-310.pyc
.vscode/c_cpp_properties.json
.vscode/settings.json
C/cmake_install.cmake
C/CMakeCache.txt
C/CTestTestfile.cmake
dynarr_test
traversal_test
libtraversal.a
C/Makefile
cmake.check_cache
a.out
cmake_*
depend.make
*.o
*.d
progress.make
link.txt
flags.make
DependInfo.cmake
compiler_depends.ts
C/CMakeFiles/*
